.col-sm-12{
    background-image: url(bg1.jpeg);
    height:700px;
    width: 100%;
    background-size: cover;
}
.col-sm-6{
    color: white;
    text-align: center;
    margin-top: 300px;
    background-color:rgba(0,0,0,0.7);
    border-radius:25px;
    margin-left: 340px;
}
.btn{
    margin-left: 640px;
    margin-top: 50px;
    background-color: red;
    border-radius: 30px;
}